<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('partials/head'); %>
</head>
<body>
    <header>
        <%- include('partials/employeenav'); %>
    </header>

    <div class="d-flex flex-column min-vh-100 align-items-center m-5">
        <div class="bg-body-tertiary border rounded-3 w-75">
            <div id="analytics title" class="container w-auto h-auto m-5">
                <h1 class="text-center">Lennin Repizo Analytics</h1>
            </div>
            
            <!--Options Dropdown for reports-->
            <div class="input-group m-3 w-auto">
                <div class="input-group-prepend">
                  <label class="input-group-text" for="inputGroupSelect01">Select Report</label>
                </div>
                <select class="custom-select" id="selectReport">
                  <option selected>Choose...</option>
                  <option value="option1">Most and least common services</option>
                  <option value="option2">Customer's preferred contact method</option>
                  <option value="option3">Earnings per week, month, and year</option>
                  <option value="option4">Earnings per customer</option>
                  <option value="option5">Busiest day of the week</option>
                  <option value="option6">Customer who cancel the most appointments</option>
                  <option value="option7">Number of appointments for week, month, year</option>
                  <option value="option8">Number of appointments per employee</option>
                  <option value="option9">Most and least profitable service</option>
                </select>
              </div>

            <!--Most and least common services-->
            <div class="text-center m-3" id="option1" style="display: none;">
                <div id="most/least common service" class="container w-auto h-auto m-5">
                    <h3 class="text-center">Most/Least Common Services</h1>
                        <ul class="list-unstyled">
                            <li>Most Common Service: <strong><%= commonservicedata[0][0].Most %></strong></li>
                            <li>Least Common Service: <strong><%= commonservicedata[1][0].Least %></strong></li>
                        </ul>
                </div>
            </div>
            
            <!--Preffered contact method-->
            <div class="text-center m-3" id="option2" style="display: none;">
                <div id="preffered contact method" class="m-5">
                    <h3 class="text-center">Overall Preferred Contact Method</h1>
                        <p class="text-center">Most customers prefer to be contacted by <strong><%= contactdata[0].contactType %></strong></p>
                </div>
            </div>

            <!--Earnings for week, month, year-->
            <div class="text-center m-3 justify-content-around" id="option3" style="display: none;">  
                <h2>Earnings per week:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Week Start Date</th>
                            <th>Week End Date</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%earningsdata[0].forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.WeekStart%></td>
                                <td><%=entry.WeekEnd%></td>
                                <td><%=entry.Earnings%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
                
                <h2 class="mt-4">Earnings per Month:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%earningsdata[1].forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.Month%></td>
                                <td><%=entry.Year%></td>
                                <td><%=entry.Earnings%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
                
                <h2 class="mt-4">Earnings for today:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Today's Date</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%earningsdata[2].forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.Today%></td>
                                <td><%=entry.Earnings%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>    
            </div>

            <!--Earnings per customer-->
            <div class="text-center m-3" id="option4" style="display: none;">
                <h2 class="mt-4">Earnings per customer:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Earnings</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%custearningsdata.forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.Name%></td>
                                <td><%=entry.Earnings%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>    
            </div>

            <!--Busiest day of the week-->
            <div class="text-center m-3" id="option5" style="display: none;">
                <h2>The busiest day of the week is <strong><%=busydaydata[0].WeekDay%></strong></h2>
                <p>There are <%=busydaydata[0].NumberAppointments%> appointments that are on a <strong><%=busydaydata[0].WeekDay%></strong></p>
            </div>

            <!--Customer who cancels the most appointments-->
            <div class="text-center m-3" id="option6" style="display: none;">
                <h2 class="mt-4">Canceled appointments per customer:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Customer Name</th>
                            <th>Number of canceled appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%custcanceldata.forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.Name%></td>
                                <td><%=entry.CanceledAppointments%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>    
            </div>

            <!--Number of appointments for week, month, year-->
            <div class="text-center m-3" id="option7" style="display: none;">

                <!--Number of Appointments per week-->
                <h2 class="mt-4">Number of appointments per week:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Week of the year</th>
                            <th>Year</th>
                            <th>Number of appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%numappointmentsdata[0].forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.Week%></td>
                                <td><%=entry.Year%></td>
                                <td><%=entry.NumberAppointments%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>

                <!--Number of Appointments per Month-->
                <h2 class="mt-4">Number of appointments per Month:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Month</th>
                            <th>Year</th>
                            <th>Number of appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%numappointmentsdata[1].forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.Month%></td>
                                <td><%=entry.Year%></td>
                                <td><%=entry.NumberAppointments%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>

                <!--Number of Appointments per year-->
                <h2 class="mt-4">Number of appointments per year:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Year</th>
                            <th>Number of appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%numappointmentsdata[2].forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.year%></td>
                                <td><%=entry.NumberAppointments%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>

            </div>

            <!--Number of appointments per employee-->
            <div class="text-center m-3" id="option8" style="display: none;">
                <h2 class="mt-4">Number of appointments per employee:</h2>
                <table class="table table-striped table-bordered w-auto m-auto">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Number of appointments</th>
                        </tr>
                    </thead>
                    <tbody>
                        <%employeeappointmentdata.forEach(function(entry) {%>
                            <tr>
                                <td><%=entry.Name%></td>
                                <td><%=entry.NumAppointments%></td>
                            </tr>
                        <%});%>
                    </tbody>
                </table>
            </div>

            <!--Most and least profitable service-->
            <div class="text-center m-3" id="option9" style="display: none;">
                <table class="table table-striped table-bordered w-auto m-auto">
                    <div class="d-flex flex-row justify-content-around">
                        <div class="mb-5">
                            <h2>Most Profitable service: <strong><%= profitabledata[0][0].MostProfitable%></strong></h2>
                            <h3>Earnings: <strong> $<%= profitabledata[0][0].TotalEarned%></strong></h3>
                        </div>
    
                        <div class="mb-5">
                            <h2>Least Profitable service: <strong><%= profitabledata[1][0].LeastProfitable%></strong></h2>
                            <h3>Earnings: <strong> $<%= profitabledata[1][0].TotalEarned%></strong></h3>
                        </div>
                    </div>

                    <div class="d-flex flex-row justify-content-around">
                        <div class="mb-5">
                            <h2>Most Profitable service this week: <strong><%= profitabledata[2][0].MostProfitableThisWeek%></strong></h2>
                            <h3>Earnings: <strong> $<%= profitabledata[2][0].TotalEarned%></strong></h3>
                        </div>
    
                        <div class="mb-5">
                            <h2>Least Profitable service this week: <strong><%= profitabledata[3][0].LeastProfitableThisWeek%></strong></h2>
                            <h3>Earnings: <strong> $<%= profitabledata[3][0].TotalEarned%></strong></h3>
                        </div>
                    </div>
            </div>
            </div>
        </div>

        <script>
            const selectReport = document.getElementById('selectReport');
            const option1div = document.getElementById('option1');
            const option2div = document.getElementById('option2');
            const option3div = document.getElementById('option3');
            const option4div = document.getElementById('option4');
            const option5div = document.getElementById('option5');
            const option6div = document.getElementById('option6');
            const option7div = document.getElementById('option7');
            const option8div = document.getElementById('option8');
            const option9div = document.getElementById('option9');

            selectReport.addEventListener("change", () => {
                const selectedOption = selectReport.value;

                if (selectedOption == "option1") {
                    option1div.style.display = "block";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                } else if (selectedOption == "option2") {
                    option1div.style.display = "none";
                    option2div.style.display = "block";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                } else if(selectedOption == "option3") {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "block";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                } else if(selectedOption == "option4") {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "block";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                } else if(selectedOption == "option5") {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "block";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                } else if(selectedOption == "option6") {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "block";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                } else if(selectedOption == "option7") {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "block";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                } else if(selectedOption == "option8") {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "block";
                    option9div.style.display = "none";
                } else if(selectedOption == "option9") {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "block";
                } else {
                    option1div.style.display = "none";
                    option2div.style.display = "none";
                    option3div.style.display = "none";
                    option4div.style.display = "none";
                    option5div.style.display = "none";
                    option6div.style.display = "none";
                    option7div.style.display = "none";
                    option8div.style.display = "none";
                    option9div.style.display = "none";
                }
            });
        </script>
    </div>
</body>
</html>

